* {
    margin: 0;
    padding: 0;
  }
  
  *::before,
  *::after,
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    background-color: $color-blue-light;
    color: $color-dark;
    font-family: $ff-content;
    font-size: 2rem;
    line-height: 1.5;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
  
    @include small-only {
      font-size: 1.2rem;
    }
  
    @include smallest-only {
      font-size: 1rem;
    }
  
  }
  
  ul li {
    list-style-type: none;
    color: $color-blue-dark;
  }
  
  a {
    text-decoration: none;
    color: $color-dark;
    @include medium-only {
      font-size: 1.2rem;
    }
    @include small-only {
      font-size: 1rem;
    }
    @include smallest-only {
      font-size: .7rem;
    }
    &:hover {
      color: $color-blue-light;
    }
  }
  
  h1 {
    font-size: 4rem;
    font-family: $ff-title;
    color: $color-dark;
   
    @include medium-only {
      font-size: 3.5rem;
    }
    @include small-only {
      font-size: 2.8rem;
    }
  
    @include smallest-only {
      font-size: 2rem;
    }
  }
  
  h2 {
    font-size: 3rem;
    font-family: $ff-title;
    color: $color-blue-dark;
    
    @include medium-only {
      font-size: 2.5rem;
    }
    @include small-only {
      font-size: 1.8rem;
    }
  }
  
  h3 {
    font-size: 2rem;
    font-family: $ff-title;
    color: $color-blue-dark;
  
  
    @include smallest-only {
      font-size: 1.5rem;
    }
  }
  
  h4 {
    @include smallest-only {
      font-size: 1.3rem;
    }
  }
  
  p {
    @include smallest-only {
      font-size: 1.2rem;
    }
  }
  
  hr {
    background-color: $color-blue;
    border: none;
    width: 25rem;
    height: .2rem;
    margin: 2rem auto;
  }
  
  svg {
    fill: $color-blue-dark;
    font-family: $ff-title;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    

    & use {
      width: 3rem;
    height: 3rem;
    margin: .5rem;
    }
  }