{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% form_theme form 'security/_collection.html.twig' %}
{% block body %}
<section class="default">
   <div class="default-title">
      <h2>Mot de passe oublié</h2>
   </div>
   <div class="default-form">
        {{ form_start(form)}}
        {{ form_row(form.email)}}
        <input type="submit" class="btn" value="Envoyer">
       {{ form_end(form)}}
   </div>
</section>
{% endblock %}
