.fa-pencil-alt {
    color: $color-blue;
   font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    
}

.fa-trash-alt {
    color: $color-blue;
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
}