.header {
    background-image: url(../../images/bg-nav.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25rem 1fr 55rem 10rem;
    grid-template-rows: 8rem;
    position: relative;
   
    @include medium-only {
        grid-template-columns: 20rem 1fr 10rem;
        height: 20rem;
    }
    @include small-only {
        grid-template-columns: 15rem 1fr 5rem;
        grid-template-rows: 6rem;
        height: 10rem;
    }
}
        