.home-header {
    background-image: url(../../images/bg-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25rem 1fr 70rem 10rem;
    grid-template-rows: 8rem auto;
    position: relative;
    
    @include medium-only {
        grid-template-columns: 20rem 1fr 10rem;
    }
    @include small-only {
        grid-template-columns: 15rem 1fr 5rem;
        grid-template-rows: 6rem auto;
    }

    &-logo {
        grid-column: 1/2;  
        grid-row: 1/2;

        &-img {
            padding: 2rem;
            width: 100%;
            height: 100%;
        }
    }
    
    &-nav {
        grid-column: 3/5;
        font-family: $ff-title;
        display: block;

        @include medium-only {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-evenly;  
        }   

        &-wrap {
            grid-column: 4/5;
            z-index: 1;
            display: none;
            position: relative;  

            @include medium-only {
                display: block; 
                grid-column: 3/4;
            }

            &-toggler {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                cursor: pointer;
                width: 5rem;
                height: 5rem;
                opacity: 0;  

                @include small-only {
                    width: 3rem;
                    height: 3rem;
                }
                @include smallest-only {
                    width: 2rem;
                    height: 2rem;
                }
            }

            &-hamburger {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @include small-only {
                    width: 3rem;
                    height: 3rem;
                }
                @include smallest-only {
                    width: 2rem;
                    height: 2rem;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                    display: block;
                } 
            }
        }

        &-wrap .home-header-nav-wrap-toggler:checked ~ .home-header-nav-wrap-menu {
          visibility: visible;
        }

        &-wrap .home-header-nav-wrap-toggler:checked ~ .home-header-nav-wrap-menu > div {
            transform: scale(1);
            transition-duration: .75s;
        }

        &-wrap .home-header-nav-wrap-toggler:checked ~ .home-header-nav-wrap-menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
        }

        &-wrap .home-header-nav-wrap-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-wrap .home-header-nav-wrap-menu > div {
            background-color: rgba(52, 84, 124, .7);
            border-radius: 50%;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;
        }

        &-wrap .home-header-nav-wrap-menu > div > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
        }

        &-wrap .home-header-nav-wrap-menu > div > div > ul > li {
            list-style: none;
            
            padding: 1rem;
        }

        &-wrap .home-header-nav-wrap-menu > div > div > ul > li > a {
            color: $color-blue-light;
            font-size: 3rem;
             font-family: $ff-title;
            text-decoration: none;
            transition: color 0.4s ease;

            &:hover {
                color: $color-dark;
            }

            @include small-only {
                font-size: 2.3rem;
            }
        }
    }

    &-title {
        grid-column: 1/5;
        position: absolute;
        top: 72%;
        left: 30%;

        @include medium-only {
            grid-column: 1/4;
            text-align: center;
            width: 100%;
            left: 0;
        }
        
        h1 {
            display: block;
            color: $color-blue-dark;
        }
    }

    &-arrow {
        grid-column: 1/5;
        align-self: end;
        justify-self: center;  
    }
}


