@font-face 
{
    font-family: "Chalkduster";
    src: url("../../fonts/Chalkduster/Chalkduster.eot"); /* IE9*/
    src: url("../../fonts/Chalkduster/Chalkduster.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/Chalkduster/Chalkduster.woff2") format("woff2"), /* chrome、firefox */
    url("../../fonts/Chalkduster/Chalkduster.woff") format("woff"), /* chrome、firefox */
    url("../../fonts/Chalkduster/Chalkduster.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../fonts/Chalkduster/Chalkduster.svg#Chalkduster") format("svg"); /* iOS 4.1- */
}
@font-face 
{
    font-family: "AdventPro";
    src: url("../../fonts/AdventPro/adventpro-regular-webfont.eot"); /* IE9*/
    src: url("../../fonts/AdventPro/adventpro-regular-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/AdventPro/adventpro-regular-webfont.woff") format("woff"), /* chrome、firefox */
    url("../../fonts/AdventPro/adventpro-regular-webfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../fonts/AdventPro/adventpro-regular-webfont.svg#Chalkduster") format("svg"); /* iOS 4.1- */
}