$color-blue-light : #e0edf4;
$color-blue :#809fc8;
$color-blue-dark : #34547c;
$color-dark :#202229;
$color-error: red;
$color-success: green;

$ff-title : 'Chalkduster';
$ff-content: 'AdventPro';

$breakpoints : (
    large: 78.5rem,
    medium: 55rem,
    small: 37.5rem,
    smallest: 26rem,
);