$color-blue-light : rgb(224, 237, 244);
$color-blue :rgb(128, 159, 200);
$color-blue-dark : rgb(52, 84, 124);
$color-dark :#202229;
$color-error: red;
$color-success: green;

$ff-title : 'Chalkduster';
$ff-content: 'AdventPro';

$breakpoints : (
    large: 78.5rem,
    medium: 55rem,
    small: 37.5rem,
    smallest: 26rem,
);