<html lang="fr">
	<head>
		<title>{{ email.subject }}</title>
	</head>
	<body>
		<div>
			<p>Bonjour {{ email.toName }}, pour devenir membre de la communauté Snowtricks, il ne vous reste plus qu'à activer votre compte.</p>
			<p>Veuillez cliquer sur le lien ci-dessous :</p>
			<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
			<p>Merci et à bientôt sur Snowtricks.</p>
		</div>
	</body>
</html>
